body {
  
  background-color: skyblue;
}

.heading {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  font-family: 'Gotu', sans-serif;
}

.Joke {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.chuck {
display: flex;
justify-content: center;
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-left: 900px;
  
}